/* 
CSS Syntax

Selector {
  property: value;
}
*/

body {
  background-color: #e4f9f5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #40514e;
  border-width: 4px;
  width: 5%;
}

img {
  width: 200px;
}

h1 {
  color: #11999e;
}

h3 {
  color: #30e3ca;
}
