body {
  margin: 0;
}

.top-container {
  background-color: #e4f9f5;
  height: 200px;
  width: 200px;
  border: solid;
  border-width: 10px;
  padding: 10px;
  margin: 0;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
  border: solid;
  border-width: 20px;
  margin-left: 240px;
}

.bottom-container {
  background-color: yellow;
  height: 200px;
  width: 200px;
  border: solid;
  border-width: 10px;
  margin-left: 480px;
}
